.form-container {
    background-color: var(--primary-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.form-control {
    width: 100%;
    max-width: 280px;
    text-align: center;
    padding: 2rem 1.5rem 3rem 1.5rem;
    border-radius: 10px;
    gap: 1rem;
}

.bg-form {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}

@media screen and (min-width: 500px) and (max-width: 940px) {
    .form-control {
        max-width: 640px;
    }
}

@media screen and (min-width: 940px) {
    .form-control {
        max-width: 980px;
    }
}
