.content {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    margin: 1rem 0.5rem; 
}

.info-card {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    border-radius: 1.5rem;
}

.sub-title {
    padding: 0.5rem 0;
}

@media screen and (min-width: 940px) {
    .content {
        margin: 4rem 6rem;
    }
}