.info-content-row {
    display: flex;
    flex-direction: column;

    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 1.5rem;
}

.container-image {
    width: 100%;
    height: auto;
}

.info-content-row img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
}

@media screen and (min-width: 940px) {
    .info-content-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 1rem;
    }

    .container-image {
        display: flex;
        justify-content: space-between;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .container-image img {
        width: 100%;
        height: auto;
        max-width: 400px;
    }
}