.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 940px) {
    .content {
        margin: 4rem 6rem;
    }
}