:root {
    --primary-color: #ef486f;
    --secondary-color: #4c4e6d;

    --primary-bg-color: #212529;
    --secondary-bg-color: #f2f2f2;
    --grey-bg-color: #221e1f;

    --primary-text-color: #ecf1f5;
    --secondary-text-color: #343a40;

    --primary-light-color: #ee5f80;
    --secondary-light-color: #88899e;

    --banner-color: #fab005;
}

.bg-banner-color {
    background-color: var(--banner-color);
    color: var(--secondary-color);
}

.btn-primary-color {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-weight: 700;
}
.btn-primary-color:hover {
    color: var(--primary-text-color);
    background-color: var(--primary-light-color);
}

.btn-secondary-color {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    font-weight: 700;
}

.btn-secondary-color:hover {
    color: var(--primary-text-color);
    background-color: var(--secondary-light-color);
}

.bg-light {
    background-color: var(--bg-light);
}

.bg-primary {
    border: var(--primary-color) solid 4px;
    background-color: var(--grey-bg-color);
}

.bg-secondary {
    border: var(--secondary-color) solid 4px;
    background-color: var(--grey-bg-color);
}

.bg-content {
    border: var(--primary-text-color) dotted 4px;
}

.bg-info {
    background: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}

.bg-form {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}
